
<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12"> 
      <app-resepie-item
      *ngFor="let recipe of recipes"
      [recepie]="recipe"
      [id]="recipes.indexOf(recipe)"></app-resepie-item>
    </div>
  </div>
  
