<div class="row">
  <div class="col-md-5">
    <app-resepie-list></app-resepie-list>
  </div>
  <div class="col-md-7">
<!--
    <app-resepie-detail
    *ngIf="selectedRecipe; else infoText"
    [recipe]="selectedRecipe"></app-resepie-detail>

    <ng-template #infoText>
      <p>Please select a recipe</p>
    </ng-template>
-->
  <router-outlet></router-outlet>    
  </div>
</div>